<!-- nav -->
<nav class="navbar navbar-expand navbar-light bg-light" *ngIf="currentUser">
    <a><img src="../assets/images/136-1366211_group-of-10-guys-login-user-icon-png.png" alt="" width="60" height="50"></a>
    <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" routerLink="/home">Home</a>
        <a class="nav-item nav-link" routerLink="/about">About</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
 
</nav>

<!-- main app container -->

    <router-outlet></router-outlet>

<app-footer *ngIf="currentUser"></app-footer>
